.CollectR-logo {
    height: 20vmin;
    pointer-events: none;
    background-color: white;
  }

  .collector-profile-pic {
    height: 15vmin;
    pointer-events: none;
    margin-bottom: 50px;
    margin-right: 110px;
  }


  * {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: #1f3864;
  }

  .main-container {
    width: 100%;
    display: flex;
    height: 600px;
    margin: 0 auto;
    background-color: #2f5496;
  }

  .child {
    margin: auto;
    height: 300px;
    width: 300px;
    background-color: #b3c6e7;
  }

  .container {
    display: flex;
    height: 100vh;
    width: 85%;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    height: 100%;

  }

  .right-row {
    display: flex;
    flex-direction: row;
  }

  .item {
    height: 80%;
    margin-right: 20px;
    margin-left: 40px;/* A fixed width as the default */
  }



  .name-text {
    font-size:15px;
    color:black;
    background-color: #b3c6e7;
    text-align: left;
    right: 300px;
    margin-bottom: 100px;
  }

  .top-of-collection-text {
    font-size: 30px;
    text-align: center;
  }

  .left-box {
    height: 200px;
    width: 300px;
    background-color: #b3c6e7;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .wrapper {
    height: 100vh !important;
    width: 100%;
    margin: 0 auto;
  }

  .left-side {
    display: flex;
    flex-direction: column;
  }

  .item-center {
    flex-grow: 1;
    height: 80%;
    margin-right: 40px;

  }

  .item + .item {
    margin-left: 2%;
  }

  .modal {
   width: 400px;
   height: 400px;
   position: relative;
   bottom: 600px;
   left: 100px;
   background-color: white;
   align-items: center;
  }

  form {
    width: 100%;
    height: 100%;
    background-color: #1f3864;
    display: flex;
    flex-direction: column;
    border-style: inset;
  }

  input {
    margin: 0 auto;
    color: white;
  }

  .inputGroup {
    width: 50%;
    height: 100px;
    margin: 0 auto;
  }

  .modal button {
    width: 200px;
    height: 60px;
    margin: 0 auto;
  }

  button {
    color: white;
    margin-right: 10px;
  }

  .add-icon {
    color: purple;
    background-color: white;
    font-size: 72px;
    margin: 30px auto;
    margin-left: 110px;
  }

  .box-text {
    font-size: 30px;
  }
